.docs-sidebar {
  top: 78px !important;
}

.docs-nav {
  width: 200px;
  background: white;
}

.docs-nav header {
  font-size: 20px;
  border: 1px solid #eee;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 0;
}

.docs-nav ul {
  margin: 0;
}

.docs-nav li {
  list-style: none;
  font-size: 17px;
  border: 1px solid #eee;
  width: 100%;
  padding: 5px;
  padding-left: 30px;
  padding-right: 10px;
  margin: 0;
  border-bottom: 0;
}

.docs-nav li a {
  color: #1a4e72;
  text-decoration: none;
  opacity: 0.8;
}

.docs-nav li a:hover {
  opacity: 1;
}

.docs-content {
  padding: 30px;
}

.docs-content img {
  max-width: 100% !important;
}

.docs-content h1,
.docs-content h2,
.docs-content h3 {
  text-align: center;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  z-index: 22;
}

@media only screen and (max-width: 800px) {
  .docs-nav {
    width: 100%;
    z-index: 20 !important;
  }

  .docs-nav header {
    margin-top: 10px;
    padding-left: 110px;
    border: none;
  }

  .docs-nav li {
    padding-left: 130px;
    border: none;
  }
}
